@media (max-width: 1000px) {
  .responsive {
    width: 100% !important;
    height: auto !important;
  }

  nav {
    display: none;
  }

  .mobile-shown {
    height: 100% !important;
    padding: 0 !important;
  }
  .mobile-shown nav {
    display: block;
  }

  header nav ul li {
    display: block !important;
    margin: auto !important;
    padding: 25px 0 !important;
  }

  header .logo {
    position: relative !important;
  }

  .nav-toggle {
    display: block !important;
    color: white;
    cursor: pointer;
  }

  .country-flag {
    top: 90px !important;
		margin: 10px;
  }

  .about-centered {
    top: 60% !important;
  }

  .responsive-width {
    width: 100% !important;
    display: block !important;
  }

  .masonry-center-container {
    display: none !important;
  }

  .masonry-center-container-mobile {
    display: block !important;
  }

  .masonry-item {
    margin-bottom: 10px;
  }

  .modalImgContainer {
    max-width: 80% !important;
    height: auto !important;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* font-family: 'Open Sans', sans-serif;
  		font-size: 1rem; */
}

.hidden {
  display: none !important;
}

.disable-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-toggle {
  display: none;
  font-size: 1.3em;
}

header nav ul {
  position: relative;
}

ol,
ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  text-align: center;
  width: 110px;
  padding: 50px 0;
}

header nav ul li:nth-child(2) {
  margin-right: 160px;
}

header nav ul li:nth-child(3) {
  margin-left: 160px;
}

header nav ul li.active a {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

header nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 6px;
  background-image: none;
  background-position: bottom left;
  background-repeat: repeat-x;
  cursor: pointer;
}

header nav ul li a:hover {
  opacity: 0.7;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

body {
  color: #2a292b;
  height: 100%;
  width: 100%;
  background: #2a292b;
  overflow-x: hidden !important;
}

.padding-zero {
  padding: 0 !important;
}

.space-break {
  background-color: #2a292b;
  position: relative;
  width: 100%;
  height: 100vh;
}
.space-break #arrow-down {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 400px;
}

header {
  background-color: black;
  left: 0;
  padding: 80px 0 0 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  -webkit-animation: fadeIn 700ms 600ms;
  -webkit-animation-fill-mode: backwards;
}
header .country-flag {
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 3;
  color: white;
}
header .country-flag img:hover {
  opacity: 0.7;
}
header .country-flag #uk-flag {
  margin-right: 10px;
}
header #navbar {
  background-color: black;
}
header .logo {
  left: 50%;
  margin: auto;
  top: 27%;
  width: 354px;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.top-position {
	top: 0%!important;
}
header .logo a {
  display: inline-block;
}
header header .logo.main img {
  width: 100%;
  height: 100%;
}
header img {
  max-width: 100%;
}
header .logo.monogram {
  left: 50%;
  margin: -29px 0 0 -110px;
  position: absolute;
  top: 50%;
  width: 220px;
  opacity: 0;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

nav {
  z-index: 2;
}

.bg-custom-yellow-orange {
  background: #f1c50e !important;
}

.bg-custom-yellow-grey {
  background: #ff44;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

[class^=col-] {
  flex-basis: 100%;
}

@media (min-width: 1000px) {
  .col-1 {
    flex: 0 0 8.3333333333%;
  }

  .col-offset-1 {
    margin-left: 100%, 12;
  }

  .col-2 {
    flex: 0 0 16.6666666667%;
  }

  .col-offset-2 {
    margin-left: 100%, 6;
  }

  .col-3 {
    flex: 0 0 25%;
  }

  .col-offset-3 {
    margin-left: 100%, 4;
  }

  .col-4 {
    flex: 0 0 33.3333333333%;
  }

  .col-offset-4 {
    margin-left: 100%, 3;
  }

  .col-5 {
    flex: 0 0 41.6666666667%;
  }

  .col-offset-5 {
    margin-left: 100%, 2.4;
  }

  .col-6 {
    flex: 0 0 50%;
  }

  .col-offset-6 {
    margin-left: 100%, 2;
  }

  .col-7 {
    flex: 0 0 58.3333333333%;
  }

  .col-offset-7 {
    margin-left: 100%, 1.7142857143;
  }

  .col-8 {
    flex: 0 0 66.6666666667%;
  }

  .col-offset-8 {
    margin-left: 100%, 1.5;
  }

  .col-9 {
    flex: 0 0 75%;
  }

  .col-offset-9 {
    margin-left: 100%, 1.3333333333;
  }

  .col-10 {
    flex: 0 0 83.3333333333%;
  }

  .col-offset-10 {
    margin-left: 100%, 1.2;
  }

  .col-11 {
    flex: 0 0 91.6666666667%;
  }

  .col-offset-11 {
    margin-left: 100%, 1.0909090909;
  }

  .col-12 {
    flex: 0 0 100%;
  }

  .col-offset-12 {
    margin-left: 100%, 1;
  }
}
.responsive {
  max-width: 100%;
  height: auto;
}

.responsive-width {
  width: 50%;
  display: inline-block;
}

nav #topnav {
  display: block;
}
nav .navbar-toggler {
  display: none;
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  font-size: 2em;
}

.title {
  font-size: 3em;
  margin-bottom: 50px;
}
.title .title-border {
  border: 10px solid white;
  padding: 0 10px 10px 10px;
}

.about {
  color: white;
  top: 50%;
}
.about-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-wallpaper {
  width: 800px;
  height: 500px;
}
.about-item {
  border-bottom: 7px solid white;
  cursor: default;
  height: 500px;
  width: 500px;
  position: relative;
  text-align: center;
  color: white;
}
.about-item-centered {
  background: black;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.masonry-item-centered {
  background: black;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.masonry {
  background-color: #ccc;
  padding-top: 50px;
  padding-bottom: 50px;
}
.masonry h2 {
  margin-bottom: 25px;
}
.masonry-item {
  border-bottom: 7px solid white;
  cursor: default;
  height: 500px;
  width: 500px;
  position: relative;
  text-align: center;
  color: white;
}
.masonry-item-centered {
  background: black;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.masonry img {
  height: 500px;
  width: 400px;
}
.masonry-center-container {
  position: relative;
}
.masonry-center-container-mobile {
  display: none;
}
.masonry-description {
  font-size: 2em;
  font-style: italic;
  border: 1px dashed black;
}
.masonry-offer {
  border-top: 2px dotted black;
  font-style: italic;
}
.masonry-services {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2em;
}

.gallery {
  background-color: white;
}
.gallery .title {
  margin-top: 35px;
}

.contact {
  white-space: nowrap;
  color: #ffffff;
  background-color: #404040;
}
.contact-info {
  vertical-align: top;
}
.contact-item {
  display: block;
  width: 80%;
  padding: 10px 12px;
  background-image: none;
  border-radius: 3px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: transparent;
  color: inherit;
  border: 1px solid #b3b3b3;
  margin-bottom: 25px;
  font-size: 1rem;
}
.contact-form-container {
  padding: 30px;
  vertical-align: top;
}
.contact-text-block {
  padding: 10px 0;
}
.contact-list {
  list-style-type: none;
}
.contact-list li {
  line-height: 4;
  font-weight: bold;
}
.contact-list li h2 {
  display: inline;
}
.contact-button:hover {
  background: grey;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.responsive-width {
  width: 50%;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.col-4 {
  width: 33%;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 4;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.main-title {
  color: white;
  font-size: 2.7em;
	margin-top: -15px;
}

.modalImgContainer {
  /*	width and height must change based on screen size and landscape-portrait */
  width: 560px;
  height: 756px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

#modalImg {
  text-align: center;
  border: 5px solid white;
  width: 100%;
  height: 100%;
  text-align: center;
}

.left-arrow,
.right-arrow {
  width: 30px;
  height: 100px;
  background-color: white;
  color: #aaaaaa;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  font-size: 35px;
}

.left-arrow {
  left: -30px;
  border-top-left-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;
}

.right-arrow {
  right: -30px;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
}

.left-arrow span,
.right-arrow span {
  line-height: 100px;
  position: absolute;
  left: 5px;
  font-weight: bold;
}

/* The Close Button */
.close {
  position: absolute;
  top: -20px;
  right: -35px;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background: white;
  border-radius: 100%;
  padding: 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close:hover,
.close:focus,
.left-arrow:not(.disabled):hover,
.left-arrow:not(.disabled):focus,
.right-arrow:not(.disabled):hover,
.right-arrow:not(.disabled):focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.item {
  margin-top: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  align-items: stretch;
  margin: 50px;
}

.grid-item {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  height: 200px;
  cursor: pointer;
  margin-bottom: 25px;
  height: 300px;
  width: 300px;
}

.grid-item:hover {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.8);
}

/*# sourceMappingURL=style.css.map */
